<div class="todos">
  <form>
    <input 
      type="text"
      name="inputTodo"
      placeholder="New todo..."
      class="todo-input"
      [(ngModel)]="todoContent"  
    />
    <input type="submit" (click)="addTodo()" value="Add item" class="todo-submit" />
    <button class="btn" click="addTodo()">Submit</button>
  </form>
  <div *ngFor="let todo of todos; let i = index;" class="todo {{ (todo.completed ? 'done' : '')}}">
    <div class="id">{{ i+1 }}</div>
    <div class="content" (click)="toggleDone(i)">{{ todo.content }}</div>
    <button class="delete" (click)="deleteTodo(i)">DEL</button>
  </div>
</div>